@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/net.jpg")">
        <script src="https://unpkg.com/react@@17/umd/react.development.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@@17/umd/react-dom.development.js" crossorigin></script>


    </head>
    <body>
        @content
    </body>
</html>
